<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>


{{#each listOfMovies}}

<div>
<img src="{{this.image}}">
{{this.title}}
<a href="/movies/{{this._id}}">See More</a>
</div>

{{/each}}
